<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="http://node-os.com/css/default.css" />
  <%-cur_page.head%>
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://node-os.com">node-os</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://node-os.com/blog">Blog</a></li>
        <li><a href="http://npkg.org">npkg.org</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </header>
<!-- START: ISSUES ITEM TEMPLATE -->
<section ng-app="NodeOsBlog"  id="articles" class="section">
  <%-cur_page.body%>
</section>
<!-- END: ISSUES ITEM TEMPLATE -->

<div class="section inverse trampstamp">
  <div class="row">
    <div class="col-xs-12"><img src="http://node-os.com/images/nodeos-update.png"></div>
  </div>
</div>

<footer>
  <div class="container" id="footer">
    <div class="row">
      <div class="col-sm-7">
        <h3 class="footer-title">Share</h3>
        <p>node-os is a work in progress.</p>
        <p>If you would like to support us, please share node-os via Twitter</p>
        <p class="pvl">
          <a href="https://twitter.com/TheNodeOS" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @TheNodeOS</a>
          <script type="text/javascript">
            (function(d,s,id){
              var js;
              fjs=d.getElementsByTagName(s)[0];
              p= /^http\:/.test(d.location)?'http':'https';
              if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;
                js.src=p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
              }
            })(document, 'script', 'twitter-wjs');
          </script>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://node-os.com/blog/OS-flavors" data-text="NodeOS - The NodeJS Powered Operating System" data-via="TheNodeOS" data-size="large">Tweet</a>
        </p>

      </div>

    </div>
  </div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" ></script>
<!-- START: BIND DATA TO VIEW -->
<script type="text/javascript">
  <%-cur_page.foot%>
</script>
<!-- END: BIND DATA TO VIEW -->
</body>
</html>
